h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
    color: white;
    text-align: center;
}

.icon{
    width:50px;
    height:50px;
    margin-left: 25px;
    display: inline-block;
}

p{
    text-align: center;
}
.info{
    color: #402A17;
    background-color: #6ACED9;
    text-align: center;
}

.items{
    color:#D98032;
    padding-left: 25px;
}

img{
    display:block;
    margin:auto;
    }

.titlProyectosAir{
    color: #ffffff;
    background-color: #9fcaf5;
    text-align: center;
}
.titlProyectosLJ{
    color: white;
    background-color: black;
    text-align: center;
    background-size: 200px;

}
.titlProyectosML{
    color: #ffffff;
    background-color:#ec740d;
    text-align: center;
}

.titlProyectosCI{
    color: #ffffff;
    background-color:#4b65a0
    ;
    text-align: center;
}

.imgProyectos{

    width:500px;
    height:300px;
    margin:auto;

}

.parProyectos{
    text-align: center;
}

